:root{
    --primary:#edf7f0;
    --heading:#000000;
    --text:#756f6f;
    --link:#00bcd9;
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html{
    font-family:'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    position:relative;
    /* overflow:hidden; */
    /* overflow-x: hidden; */
    
}

body a{
    color:rgb(14, 211, 211);
    text-decoration:none;
}

body a:hover{
    cursor:pointer;
    
}

.container p{
/*    padding:2rem;*/
    line-height:1.5;
}
#resume{
    color:var(--text);
    font-size:2rem;
    font-weight:300;
}


.profile h1{
    text-align:center;
    font-size:8rem;
    font-weight:300;
    margin-top:2rem;
    color:var(--heading);
    
}

.profile .intro p{
    text-align:center;
    margin-top:-0.8rem;
    color:var(--text);
    font-weight:100;
}

.profile-image{
    max-width:30%;
/*    border:1px solid black;*/
    margin:2rem auto;
}
    

.profile-image img{
    width:100%;
    border-radius:50%;
    }

/*
.little-about-me{
    padding:1rem;
    f
}
*/
.hero{
    /* width:100%;
    background:grey; */
    padding:0 2rem;
    background:1px solid black;
}

/*
.little-about-me h1{
    font-size:3rem;
    font-weight:400;
    margin:1rem 0;
}
.little-about-me p{
    font-weight:500;
    font-size:18px;
}
*/

.hero h1{
    font-size:3.5rem;
    font-weight:300;
    margin:1.5rem 0;
}

.hero p{
    font-size:18px;
    color:var(--text);
    font-weight:300;
/*    line-height:1.5;*/
}

.my-skills ul{
    list-style-type:none;
    font-size:18px;
    color:var(--text);
    font-weight:300;
    line-height:1.5;
}
.my-skills ul li{
    line-height:2rem;
}
.tech{
    margin:3rem 0;
}

.tech ul{
    /* margin-top:2rem; */
    list-style-type:none;
     /* display:flex;
   flex-wrap:wrap; */
   /* border:1px solid black; */
    
    
}
.tech ul li{
    /* border:1px solid black; */
    display:flex;
    align-items:center;
}
.tech ul li .container{
    width:60%;
    background:white;
    border:1px solid black;
    height:50px;
    margin-left:6rem;
    color:white;
    
}
.tech ul li .container .cprogramming{
    width:80%;
    background:grey;
    text-align:right;
    height:100%;
    padding:13px 5px;
}
.tech ul li .container .html{
    width:90%;
    background:grey;
    text-align:right;
    height:100%;
    padding:13px 5px;
}
.tech ul li .container .css{
    width:80%;
    background:grey;
    text-align:right;
    height:100%;
    padding:13px 5px;
}
.tech ul li .container .javascript{
    width:50%;
    background:grey;
    text-align:right;
    height:100%;
    padding:13px 5px;
}
.tech ul li .container .python{
    width:70%;
    background:grey;
    text-align:right;
    height:100%;
    padding:13px 5px;
}
.tech ul li p{
    
}
.tech ul li .skill-img-box{
    width:200px;
    height:auto;
    /* border:2px solid blue; */
    text-align:center;
}

.tech ul li img{
    max-width:200px;
}

.education{
    margin-top:2rem;
    margin-bottom:1rem;
}

.education h2{
    font-weight:300;
    }

.education p{
    margin-bottom:1rem;
}

.self-projects{
    margin:2rem 0;
}

.self-projects ul{
    list-style-type:none;
}


.self-projects ul li{
    font-size:18px;
    font-weight:300;
    line-height:1.5;
   
}
.self-projects ul li a{
    text-decoration:none;
}
.blogs{
    margin-bottom:2rem;
}

.blogs ul{
    list-style-type:none;
}

.blogs ul li{
    line-height:1.5;
    font-weight:300;
}

.blogs ol li a{
    text-decoration:none;
}

.connect{
    margin-top:3rem;
    /* padding:0 1rem; */
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:whitesmoke;
    
}

.connect h2{
    font-size:2.5rem;
    font-weight:300;
    padding-top:1rem;
}
.connect .social{
    margin:1rem 0;
    display:flex;
}
.social div{
    margin-left:1.5rem;
}
.social div:first-child{
    margin-left:0;
}

.social div img{
   max-width:50px;
}


/* for mobile compatibility */

@media (max-width : 1080px){
    .profile-image{
        max-width:70%;
    }
    .tech ul{
        /* flex-direction:column; */
    }
    /* .tech ul li p{
        display:none;
    } */

    .tech ul li{
        flex-direction:column;
        align-items:flex-start;
    }
    .tech ul li .container{
        margin-left:0;
    }
    .my-skills ul li{
        line-height:3rem;
    }
    .my-skills{
        margin:5rem 0;
    }
    
    #resume{
        font-size:1rem;
        font-weight:300;
    }
    
    
   
}


































